* {

    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* تمنع البوردر والبادنق من التاثير في العرض والطول*/

}


:root{


   --prim_color: #192110;
   --prim_font:"Inter", sans-serif;


}

h1,h2,h3,h4,h5,h6{

 font-family: "EB Garamond", serif;
/* خط موحد في العناوين الرئيسية*/

}

body{

/*   أكثر خط مكرر احطه في البدي .. كل الأبناء بياخذونها ماعدى اللي احنا نغيره */
    font-family: var(--prim_font);
}
.header {

    padding: 21.84px 0;
    /*  فقط , مسافه عليا وسفلى*/


}
.menuicon{

display: none ;

}
.menu-items {

    display: flex;
    gap: 30px;
    list-style-type: none;




}

.icon-items {

    display: flex;
    list-style-type: none;
    gap: 24px;

}

.header a {

    text-decoration: none;
    font: var(--prim_font);
    /*font-family: "Inter", sans-serif;      بدون فاريل */ 
    font-size: 14px;
    color: var(--prim_color)


}



.container {


    width: calc(100% - 330px);
    /* مقاسات الكونتينر المسافه المتوسطة*/
    margin: 0 auto;
    /*   مسافات يمين ويسار  للتوسيط*/

    /*  justify-content: center     لانستخدم جست فاس كونتنت سنتر لانها تؤثر على الابناء ونحن نريد ان التاثير يكون على العنصر نفسه لذلك مارجن*/

}

.row {

    /*
اذا كانت العناصر جنب بعض  يصير هو الاب بدال أي اب وفيه توضع اللاتربيوس للابناء للمسافات وفلكس وغيرها  لجميع العناصر
*/

    display: flex;
    flex-wrap: wrap;
    /*gap: 232.5px;  مسافه بين العناصر بديل افضل لها جستفاي كونتنت  سبيس بتويتن  */
    justify-content: space-between;
    /* مسافه بين السكاشن , مسافه عليا وسفلى*/
    align-items: center;
    /*  خاصية  لتوسيط العنصر طوليا بمحاذاه واحده بحيث العناصر فوق وتحت متساويين مو واحد فوق واحد تحت  بين العناصروهي تابعه لفلكس حيث تخلي المسافه عاموديا متساويه*/
     
   
}


.hero{

background-color: antiquewhite;
height: 400px;
display: flex;
flex-direction: column;     /*  لأني لا اريد ان تاتي العناصر بجانب بعضها البعض ارجعها عمودي وهذا ياثر على  الجستفاي تنعكس تصير عمودي والايتم تصير عضي والقاب عمودي*/
justify-content: center;
align-items: center;
gap: 10px;


}

@media screen and (min-width:0) and (max-width:850px) {
    
.menu-items{

display: none;

}

.icon-items {

display: none;
}

.menuicon{
    display: flex;  /*او دزبلي بلوك*/

}
}


.collection-cards {

    justify-content:flex-start ;   /* ايقاف خاصية جستفاي اللي ف الاب لوضع قاب */
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
     text-align: center;

    /*   موقته للمسافات ع يمين ويسار ليست افضل حل  الافضل منها مارجن اوتو ويدث داخل كونتينر ثم رو 

    /*

    فلكس راب بسبب انه قاب 30 وودث كارد 25 فصارت وحده لازم تنزل تحت 
    الاساسي فلكس راب نو راب لكن لازم نحط راب عشان الريسبونسف لانواع الشاشات
    وعشان نحل هذه الاشكاليه نستخدم كال بدلا من ويدث
    بحيث لاينزل تحت ويكةن مرن 

    */
}

.card {

    /* width: 25%; */
    width: calc((100% - 90px) /4);
    /* يحل مشكله انه ينزل تحت بس لازم نخليه راب بسبب الريسبونسف*/




}


.card img {

    width: 100%;


}


@media screen and (min-width:0) and (max-width:660px) {
 
    .collection-cards .row{



        flex-direction: column   
  /* يجعلها عمودية*/
    }



    .card{


       width: 100%;

         /*يخلي صورة واحده فقط ع الحجم  تتناسب نغير العرض للكارد*/
    }



}



@media screen and (min-width:660px) and (max-width:800px) {

    .card{

      width: calc((100% -  30px) / 2);

       /*يخلي صوتين ع الحجم تتناسب نغير العرض للكارد*/
    }
   


}



@media screen and (min-width:800px) and (max-width:1050px) {

    .card{

      width: calc((100% -  60px) / 3);
    }

     /*يخلي 3 صور واحده فقط ع حجم الجواب تتناسب نغير العرض للكارد*/
}

h2 {

    margin-top: 23px;
    text-transform: capitalize;
    color: var(--prim_color)
}



.bestsellre {

text-align: center;
padding: 80px  0px;

/* gap: 20px; */    /* تنفع هنا وينفع احدد الرو كمان */  
}


.bestsellre .row {



gap: 30px;  /*  للتفريق بين العناصر اقدر احطها في الاب الثاني بست سلر , مثل ماسوينا في كاب , كذا ادق*/
}

.bestsellre .items {

    width: calc((100% - 90px) / 4);
    padding-bottom: 20px;
}

.bestsellre .itemcontent {

margin-top: 24px;

}
.bestsellre h2{


font-size: 30px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2px; /*       المسافة بين الحرروف*/
margin-bottom: 48px;



}

.bestsellre h3 {
font-family: var(--prim_font);
font-size: 10px;
font-weight: 500; 
text-transform: uppercase;
margin-bottom: 12px;




}



.bestsellre .price{
font-size: 14px;
font-weight: 500;



}

.bestsellre .description{


color: #807f86;
width: 80%;  /*  مساحة من الأب نفسه  والنص بحيث لو وصل هنا ينزل*/
line-height: 22px;   /*  مساحة  بين النصوص واللاسطر مع بعضها يشبه البادنق لكنه بين العنصر نفسه البرقراف الواحد*/
margin-top: 24px;
margin-bottom: 34px;
}
.bestsellre .addcard {

padding: 15px 81px;
background-color: #ffffff;
border: 1px solid #000;
letter-spacing: 4px;
font-size: 10px ;
font-weight: 600;   /* البايدفلت 400 للودث حق الخط*/
width: 100px;

}






@media screen and (min-width:0) and (max-width:660px) {
 


    .bestsellre .items{


       width: 100%;

         /*يخلي صورة واحده فقط ع الحجم  تتناسب نغير العرض للكارد*/


}



.container {
  width: calc(100% - 100px);
}




    }

@media screen and (min-width:0) and (max-width:660px) {
 


    .bestsellre .items{


       width: 100%;

         /*يخلي صورة واحده فقط ع الحجم  تتناسب نغير العرض للكارد*/


}




    }

@media screen and (min-width:661px) and (max-width:800px) {
 


    .bestsellre .items{


       width: calc((100% -  60px) / 3);

         /*يخلي صورة واحده فقط ع الحجم  تتناسب نغير العرض للكارد*/


}






@media screen and (min-width:801px) and (max-width:1050px) {

    .bestsellre .items{

      width: calc((100% -  90px) / 4);

       /*يخلي صوتين ع الحجم تتناسب نغير العرض للكارد*/
    }
   


}









 